/target
/.settings
/.project
/bin
/.classpath
*.sublime*
/.externalToolBuilders
/out
/.idea

module_stockmanipulationresults.xml
StockManipulationResults.iml
stockmanipulationresults.properties
stockmanipulationresults.xml
